body {
	margin: 0;
}

.container {
	display: flex;
	width: 100vw;
	height: 100vh;
	justify-content: center;
	align-items: center;
	background-color: white;
}

.yams {
	font-family: 'Abril Fatface', cursive;
	font-size: 80px;
	color: black;
}

.what {
	font-family: 'Abril Fatface', cursive;
	font-size: 80px;
	color: white;
}

/*
Adapted from https://stackoverflow.com/questions/27437229/how-to-make-flashing-text-in-css
*/
.flash {
	animation-name: flash;
	animation-duration: .4s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-play-state: running;
}

@keyframes flash {
	from {background-color: white;}
	to {background-color: black;}
}